[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
Django = "*"
django-debug-toolbar = "*"
email-validator = "*"
flake8 = "*"
pydantic = "*"
python-decouple = "*"
PyJWT = "*"

[requires]
python_version = "3.8"
